body {
  background-color: #e2f3d9;
}
.box-shadow {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05), 0 4px 8px 0 rgba(0, 0, 0, 0.05);
}

.shadow {
  box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.05);
}
.shadow {
  box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.05);
}
.intro {
  padding-bottom: 40px;
  padding-top: 40px;
  background: url("../img/back2.png") 100% -90px no-repeat;
}

.btnmedio {
  width: 250px;
  height: 80px;
  border-top: 2px solid #006c3f;
  border-left: 2px solid #006c3f;
  border-right: 4px solid #006c3f;
  border-bottom: 4px solid #006c3f;
}

.bd-seach {
  position: absolute;
  left: 50%;
  width: 200px;
  margin-left: -100px;
}

.color-text {
  color: #006c3f;
  margin: 0;
}
.color-text-claro {
  color: #fff;
}

.funcoes {
  width: 1200px;
  height: 100%;
  object-fit: cover;
}

footer {
  background-color: #006c3f;
}
p,
a {
  text-decoration: none;
  margin: 0;
}
footer a {
  text-decoration: none;
  color: #fff;
}

@media (max-width: 1200px) {
  .displaynav {
    display: none;
  }
}
@media (min-width: 1200px) and (max-width: 1800px) {
  .displaylogin {
    display: none;
  }
}

@media (max-width: 600px) {
  .intro {
    background: none;
  }
  .btnmedio {
    width: 180px;
    font-size: 1rem;
  }
  .btnintro {
    width: 120px;
    font-size: 1rem;
  }
}
